@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* ==================================
Globale Style Start
================================== */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none; outline: none;
}
:root {
    --main-color: #ec1839;
    --description-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --box-shadow-color-hover: rgba(0, 0, 0, 0.2);
}
body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #000;
    transition: color .1s ease-in-out;
    transition: background .2s ease-in-out;
}
section {
    padding: 100px 20px;
    min-height: 100vh;
}
.description {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.description h1 {
    color: var(--main-color);
    font-size: 2.5rem;
}
.description small {
    color: var(--description-color);
}
.btn {
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px var(--box-shadow-color);
}
.btn:hover {
    box-shadow: 0 0 0px var(--box-shadow-color-hover);
}
/* ==================================
Globale Style End
================================== */


/* ==================================
NavBar Style Start
================================== */
nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: #fff;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: background .2s ease-in-out;
}
nav .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
}
nav .logo img {
    height: 40px;
    object-fit: cover;
}
nav .navBar {
    display: flex;
    gap: 50px;
}
nav .navBar li { 
    font-size: 1.1rem;
    font-weight: 700;
}
nav .navBar li a {
    color: #000;
    transition: all .2s ease-in-out; 
}
nav .navBar li a:hover {
    color: var(--main-color);
}
nav .navBar li a.active { 
    color: var(--main-color);
}
/* menu btn */
nav .menue-btn {
    cursor: pointer;
    z-index: 100;
    display: none;
}
.bar1,.bar2,.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: all 0.4s ease-in-out;
}
nav .menue-btn.active .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
nav .menue-btn.active .bar2 {
    opacity: 0;
}
nav .menue-btn.active .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/* ==================================
NavBar Style End
================================== */


/* ==================================
Home Style Start
================================== */
#Home {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#Home .container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#Home .container .info p {
    color: var(--description-color);
}
#Home .container .info h1 {
    font-size: 3rem;
}
#Home .container .info h1 span {
    color: var(--main-color);
}
#Home .container .home-slider {
    position: relative;
    width: 550px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--box-shadow-color);
}
#Home .container img {
    position: absolute;
    top: 0; top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: all .3s ease-in-out;
    object-fit: cover;
}
#Home .container img.active {
    opacity: 1;
}
/* ==================================
Home Style End
================================== */


/* ==================================
Cars Style Start
================================== */
#Cars .container {
    width: 100%;
}
#Cars .container .switchers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
#Cars .container .switchers .switcher {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#Cars .container .switchers .switcher:hover:not(.active) {
    color: var(--main-color);
}
#Cars .container .switchers .switcher.active {
    color: #fff;
    background: var(--main-color);  
    padding: 5px 20px; 
    border-radius: 20px;
}
#Cars .container .cards {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    gap: 30px;
    transition: all .2s ease-in-out;
}
#Cars .container .cards .card {
    position: relative;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: all 3s ease-in-out;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

#Cars .container .cards .card:hover img {
    filter: blur(1px);
    transition: all .2s ease-in-out;
}

#Cars .container .cards .card::after {
    content: attr(data-model);
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: -23%; left: 0%;
    z-index: 10000;
    background: var(--main-color);
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all .2s ease-in-out;
}
#Cars .container .cards .card:hover::after {
    bottom: 0%; 
    left: 0%;
    padding-inline-start: 25px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}
#Cars .container .cards .card:hover {
    box-shadow: 0 0 10px var(--main-color);
}
#Cars .container .cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* detailes */
.detailes {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%; 
    display: none;
    z-index: 100;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.96);
}
.detailes.active {
    display: flex;
}
body.dark .detailes {
    background: rgba(0, 0, 0, 0.96);
} 
.detailes .container {
    background: #fff;
    max-width: 500px;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: opacity .3s ease-in-out;
}
@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
body.dark .detailes .container {
    background: #000;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}
.detailes .container .view {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}
.detailes .container .view img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.detailes .container .description {
    width: 100%;
    padding: 10px;
    text-align: left;
}
.detailes .container .description .info {
    margin-bottom: 10px;
}
.detailes .container .description .info span {
    color: var(--main-color);
}
.detailes .container .buying {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailes .container .buying .price {
    color: var(--main-color );
}
/* detailes-btn */
.detailes-btn {
    cursor: pointer;
    z-index: 100000;
    position: absolute;
    top: 5px; right: 5px;
}
.detailes-btn.bar1,.detailes-btn.bar2,.detailes-btn.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: all 0.4s ease-in-out;
}
.detailes-btn .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.detailes-btn .bar2 {
    opacity: 0;
}
.detailes-btn .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/* ==================================
Cars Style End
================================== */


/* ==================================
Buy Style Start
================================== */
#Buy form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}
#Buy form input:not(:last-child) {
    padding: 10px 20px;
    width: 40%;
    font-size: 1rem;
    background: transparent;
    border-radius: 25px;
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: all .3s linear !important;
    user-select: none;
}
body.dark #Buy form input:not(:last-child) {
    color: #fff;
}
#Buy form input:focus {
    box-shadow: 0 0 12px var(--box-shadow-color);
    border: none;
}
#Buy form input:focus::placeholder {
    opacity: 0;
    transition: all .3s linear !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#Buy form div  {
    width: 100%;
}
#Buy form div .btn {
    width: 200px;
    cursor: pointer;
}
/* ==================================
Buy Style End
================================== */


/* ==================================
Contact Style Start
================================== */
#contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact .container div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact .container .about .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
}
#contact .container .about h1 {
    color: var(--main-color);
    font-size: 2rem;
}
#contact .container .about .line {
    width: 100px;
    height: 2px;
    background: var(--main-color);
}
#contact .container .contacts {
    height: 100%;
}
#contact .container .contacts .items {
    width: 100%;
    padding: 10px
}
#contact .container .contacts p:not(:last-child) {
    margin-bottom: 20px;
}
#contact .container .contacts p {
    width: 100%;
}
#contact .container .contacts p span {
    color: var(--main-color);
}
/* ==================================
Contact Style End
================================== */


/* ==================================
Respnsive Style Start
================================== */
@media (max-width: 768px) {
    /* navbar active */
    nav .navBar {
        width: 100%;
        height: 100vh;
        position: fixed;
        bottom: 100%; left: 0;
        background: rgba(255, 255, 255, 0.98);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;
    }
    body.dark nav .navBar {
        color: #fff;
        background: rgba(0, 0, 0, 0.98);  
    } 
    nav .navBar.active {
        bottom: 0;
    }
    nav .navBar li a:not(.active) {
        color: #000;
    }
    body.dark nav .navBar li a:not(.active) {
        color: #fff;
    }
    nav .menue-btn {
        display: block;
    }

    
    /* detailes */
    #Cars .container .cards .card:hover::after {
        bottom: -23%;   
    }
    .detailes .container {
        flex-wrap: wrap;
        text-align: center;
    }
    .detailes .container .description {
        margin-top: 20px;
        width: 100%;
    }


    /* buy */
    #Buy form {
        gap: 30px;
    }
    #Buy form input:not(:last-child) {
        width: 100% !important;
    }
    #Buy form div  {
        display: flex;
        justify-content: center;
    }


    /* contact */
    #contact .container {
        flex-direction: column;
        gap: 10px;
    }
    #contact .container div {
        width: 100%;
        justify-content: center;
    }
    #contact .container .contacts {
        text-align: center;
    }
}
@media (max-width: 1064px) { 
    #Home .container img.active {
        width: 450px;
        height: 250px;
    }
}
@media (max-width: 945px) { 
    /* home */
    #Home .container .info {
        width: 100%;
        text-align: center;
    }
    #Home .container .home-slider {
        display: none;
    }
}
/* ==================================
Respnsive Style End
================================== */


/* ==================================
modeBtn Style Start
================================== */
.modeBtn { 
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    bottom: 30px; right: 30px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--box-shadow-color) !important;
    cursor: pointer !important; 
    z-index: 4; 
    transform: rotate(25deg);
    user-select: none;
}
.modeBtn span {
    text-align: center;
    transform: translate(3.5%, 2%);
}
/* ==================================
modeBtn Style End
================================== */


/* ==================================
Mode Style Start
================================== */
body.dark { 
    color: #fff;
    background: #000;
}
body.dark nav {
    background: #141212;
}
body.dark nav .navBar li a:not(.active) {
    color: #fff !important;
}
body.dark nav .navBar li a:hover {
    color: var(--main-color) !important;
}
body.dark .modeBtn {
    background: #000;
}
/* ==================================
Mod Style End
================================== */